<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">

    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('img/favicon.png') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="site-title">
                <a href="{{ path('main_home') }}">
                    <img class="logo" src="{{ asset('img/wikebec-white.png') }}" alt="Wikébec">
                </a>
            </div>

            <nav>
                <a href="{{ path('main_test') }}">Test</a>
                <a href="https://google.com">Google</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            &copy; Wikébec {{ "now"|date("Y") }}
        </div>
    </footer>
</body>
</html>